<p>userprofile works!</p>
<h1>Welcome, {{name}}</h1>

<form [formGroup]="userForm">
  <label>Name: </label><input formControlName="name"/>
  <label>Email: </label><input formControlName="email"/>
  <label>DateOfBirth: </label><input formControlName="dob"/>
</form>

<button (click)="onReset()" [disabled]="condition">Reset</button>
<button (click)="onSave()" [disabled]="condition">Save</button>

<h2>View Only Mode</h2>
<div>Name: {{name}}</div>
<div>Email: {{email}}</div>
<div>DateOfBirth: {{dob}}</div>